*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #1A1A1A;;
}
.body{
    display: flex;
    justify-content: center;

}
.container{
    display: block;
}

img{
    height: 300px ;
    width: 290px;
    padding: 20px;
    
}
img:hover{
    scale: 1.1;
    transition: 0.10s;
    opacity: 0.30;   
    

}
h1{
    color: #ffff;   
    text-align: center;
    margin-left: 250px;
    padding-top: 20px;
}
h4{
    position: relative;
    color: #ffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 16px;
}
p{
    color: #ffff;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.destaques{
    position: relative;
    right: 65px;                
    bottom: 280px;      
    border: 1px solid red;
    border-radius: 0px 0px 40px;    
    background-color: red;
    margin-left: 85px;  
    margin-right: 85px;
}